/* Inisialisasi font sebelum penggunaan */
@font-face {
    font-family: 'helvetica-bold';
    src: url('../fonts/Helvetica Neue/Helvetica Neu Bold.ttf');
}

@font-face {
    font-family: 'helvetica-black';
    src: url('../fonts/Helvetica Neue/HelveticaNeue BlackCond.ttf');
}

@font-face{
    font-family: 'helvetica-light';
    src: url('../fonts/Helvetica Neue/HelveticaNeue Light.ttf');
}

@font-face {
    font-family: 'helvetica-medium';
    src: url('../fonts/Helvetica Neue/HelveticaNeue Medium.ttf');
}

@font-face {
    font-family: 'helvetica-thin';
    src: url('../fonts/Helvetica Neue/HelveticaNeue Thin.ttf');
}

@font-face {
    font-family: 'helvetica-standard';
    src: url('../fonts/Helvetica Neue/HelveticaNeue.ttf');
}

@font-face {
    font-family: 'buttershine';
    src: url('../fonts/Buttershine/BUTTERSHINE SERIF.otf');
}

@font-face{
    font-family: 'game-of-thrones';
    src: url('../fonts/Buttershine/Game of Thrones.ttf');
}

@font-face{
    font-family: 'avenue';
    src: url('../fonts/Avenue/MADEAvenuePERSONALUSE-Regular.otf');
}

@font-face{
    font-family: 'barkentina';
    src: url('../fonts/Barkentina1/Barkentina 1.otf');
}

p{
    color:#dadada;
}
h1,h3{
    color:#dadada;
}

#textInput{
    color:#dadada;
}
body{    
    background-image: url('../images/GOT-image1.jpg');
    background-size: 100%;
}

#flex-wrapper{
    margin: 1%;
    display: flex;
}

#canvas{
    width:55%;
    height:55%;
    background-color: white;
    opacity: 85%;
}