/* Inisialisasi font sebelum penggunaan */
@font-face {
    font-family: 'helvetica-bold';
    src: url('../fonts/Helvetica Neue/Helvetica Neu Bold.ttf');
}

@font-face {
    font-family: 'helvetica-black';
    src: url('../fonts/Helvetica Neue/HelveticaNeue BlackCond.ttf');
}

@font-face{
    font-family: 'helvetica-light';
    src: url('../fonts/Helvetica Neue/HelveticaNeue Light.ttf');
}

@font-face {
    font-family: 'helvetica-medium';
    src: url('../fonts/Helvetica Neue/HelveticaNeue Medium.ttf');
}

@font-face {
    font-family: 'helvetica-thin';
    src: url('../fonts/Helvetica Neue/HelveticaNeue Thin.ttf');
}

@font-face {
    font-family: 'helvetica-standard';
    src: url('../fonts/Helvetica Neue/HelveticaNeue.ttf');
}

@font-face {
    font-family: 'buttershine';
    src: url('../fonts/Buttershine/BUTTERSHINE SERIF.otf');
}

@font-face{
    font-family: 'game-of-thrones';
    src: url('../fonts/Buttershine/Game of Thrones.ttf');
}

@font-face{
    font-family: 'avenue';
    src: url('../fonts/Avenue/MADEAvenuePERSONALUSE-Regular.otf');
}

@font-face{
    font-family: 'barkentina';
    src: url('../fonts/Barkentina1/Barkentina 1.otf');
}

header{
    /* font-family: 'helvetica-black'; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: -8px;
    padding: 10px;
    opacity: 80%;
    width: 100%;
}

#logo-got{
    display: inline;
    width: 12%;
    height: 12%;
    margin-right: 35%;
}

#navbar{
    display: inline-flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-grow: 1;
    
}

.button{
    display: inline;
    font-size: 120%;
    border: none;
    font-family: 'avenue';
    /* background color harus pasang value inherit, sesuai warna backgroundnya */
    background-color: #dadada;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
}