<!-- <head>
    <title>Title of the document</title>
    <link rel="stylesheet" href="styling/home.css">
</head> -->

<link rel="stylesheet" href="styling/header.css">

<header>
    <img id='logo-got' src="images/LOGO2.png">
    <ul id="navbar">
        <li>
            <a href="/">
                <input type="button" class="button" name="home" value="Home">
            </a>
        </li>
        <li>
            <a href="/grafikbar">
                <input type="button" class="button" name="grafikbar" value="Grafik bar">
            </a>
        </li>
        <li>
            <a href="/cari">
                <input type="button" class="button" name="cari" value="Pencarian">
            </a>
        </li>
        <li>
            <a href="/graf">
                <input type="button" class="button" name="graf" value="Graf">
            </a>
        </li>
    </ul>
</header>