<!-- <head>
    <title>Title of the document</title>
    <link rel="stylesheet" href="styling/home.css">
</head> -->

<link rel="stylesheet" href="styling/header.css">

<header>
    <img id='logo-got' src="images/LOGO-GOT.png">
    <ul id="navbar">
        <li>
            <a href="/">
                <input type="button" class="button" name="home" value="Home">
            </a>
        </li>
        <li>
            <a href="/grafbar">
                <input type="button" class="button" name="grafbar" value="Grafbar">
            </a>
        </li>
        <li>
            <a href="/cari">
                <input type="button" class="button" name="cari" value="Cari">
            </a>
        </li>
        <li>
            <a href="/grafik">
                <input type="button" class="button" name="grafik" value="Grafik">
            </a>
        </li>
    </ul>
</header>