<!DOCTYPE html>
    <html>
        <head>
            <title>Title of the document</title>
            <script src = 'script/script.js' defer></script>
            <link rel="stylesheet" href="styling/cari.css">
        </head>

        <body>
            <div id="navBar">
                <%- include('partial/header.ejs'); -%> 
            </div>

            <div id="descWebsite">

                <div>
                    
                    <h1>CARI</h1>
                    
                    <!-- <form action="/filterBukuCari" method="post" enctype="multipart/form-data">
                        <label for="input_buku">Input Buku:</label>
                        <select name="dropdown_buku" id="dropdown_buku">
                            <option value="buku1">Buku 1</option>
                            <option value="buku2">Buku 2</option>
                            <option value="buku3">Buku 3</option>
                            <option value="buku4">Buku 4</option>
                            <option value="buku5">Buku 5</option>
                        </select>
                        <br><br>
                    </form> -->
                    <form action="/proses-cari-nama" method="post" enctype="multipart/form-data" id="search-nama">
                        <div id="container_buku">
                            <label for="input_buku">Input Buku:</label>
                            <select name="dropdown_buku" id="dropdown_buku">
                                <option value="buku1">Buku 1</option>
                                <option value="buku2">Buku 2</option>
                                <option value="buku3">Buku 3</option>
                                <option value="buku4">Buku 4</option>
                                <option value="buku5">Buku 5</option>
                            </select>
                        </div>
                        <div id="container_nama">
                            <img src="images/searchIcon.png" id="search-image">
                            <input type="text" id="inputNama" placeholder="Search for names..." title="Type in a name">
                            <input type="submit" id="submitCari" value="Search">
                        </div>
                    </form>
                    
                </div>
                <div>
                    <h3>DESC</h3>

                    <table>
                        <tr>
                            <td>Target</td>
                            <td>Count</td>
                        </tr>
                        <% if(arrTarget.length > 0) {%> 
                            <% for (let i = 0; i < arrTarget.length; i++) {%> 
                                <tr>
                                    <td> <%= arrTarget[i] %> </td>
                                    <td> <%= arrCount[i] %> </td>
                                </tr>
                            <% } %>
                        <% } %> 
                    </table>
                    <!-- <ul id="myUL">
                        <li><a href="#">Addam-Marbrand</a></li>
                        <li><a href="#">Aegon-I-Targaryen</a></li>
                        <li><a href="#">Arya</a></li>
                        <li><a href="#">Barristan</a></li>
                        <li><a href="#">Captain-Myraham</a></li>
                        <li><a href="#">Cersei-Lannister</a></li>
                        <li><a href="#">Davos-Seaworth</a></li>
                        <li><a href="#">Eldon-Estermont</a></li>
                        <li><a href="#">Florian-the-Fool</a></li>
                        <li><a href="#">Gyles-Rosby</a></li>
                    </ul> -->
                    <!-- <div>
                        <div id="pageNavPosition" class="pager-nav"></div>
                    </div>  -->
                </div>

            </div>
        </body>
</html>