<!DOCTYPE html>
    <html>
        <head>
            <title>Title of the document</title>
            <script src = 'script/script.js' defer></script>
            <link rel="stylesheet" href="styling/cari.css">
        </head>

        <body>
            <div id="navBar">
                <%- include('partial/header.ejs'); -%> 
            </div>

            <div id="descWebsite">

                <div>
                    
                    <h1>CARI</h1>
                    <!-- <form action="/filterNama" method="post" id="filterNama" enctype="multipart/form-data">
                        <label for="input_buku" id="textInput">Input Buku:</label>
                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                    </form> -->
                    <form action="/proses-pencarian" method="get" id="search-nama" enctype="multipart/form-data">
                        <div id="container_buku">
                            <label for="input_buku" id="label_buku">Input Buku:</label>
                            <select name="buku" id="dropdown_buku">
                                <option value="book1">Buku 1</option>
                                <option value="book2">Buku 2</option>
                                <option value="book3">Buku 3</option>
                                <option value="book4">Buku 4</option>
                                <option value="book5">Buku 5</option>
                            </select>
                        </div>
                        <div id="container_nama">
                            <!-- <img src="images/searchIcon.png" id="search-image"> -->
                            <input type="text" id="inputNama" placeholder="Search for names..." title="Type in a name" name="nama">
                            <input type="submit" id="submitCari" value="Search">
                        </div>
                    </form>
                    
                </div>
                <div>
                    <div id="divTable">
                        <table id="myTable">
                            <tr>
                                <th>Target</th>
                                <th>Count</th>
                            </tr>
                            <% if(arrTarget != undefined) {%> 
                                <% for(let i = 0; i < arrTarget.length; i++) {%> 
                                    <tr>
                                        <th> <%= arrTarget[i] %> </th>
                                        <th> <%= arrCount[i] %> </th>
                                    </tr>
                                <% } %> 
                            <% } %> 
                        </table>
                    </div>
                </div>

                <% if(arrTarget != undefined) { %>
                    <div>
                        <div class="page">
                            <%- include('./partial/pagination.ejs') %>
                        </div>
                    </div>
                <% } %> 
            </div>
        </body>
</html>