<!DOCTYPE html>
    <html>
        <head>
            <title>Title of the document</title>
            <link rel="stylesheet" href="styling/grafikbar.css">
            <script src = 'script/script.js' defer></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </head>



        <body>
            <div id="navBar">
                <%- include('partial/header.ejs'); -%> 
            </div>

            <div id="descWebsite">

                <div>
                    <h1>GRAFIKBAR</h1>
                </div>
                <div>
                    <h3>DESC</h3>
                </div>

                <form action="/proses-grafik-bar" method="post" id="form">

                <form action="/filterBukuGrafik" method="post" enctype="multipart/form-data">
                
                    <label for="input_buku" id="textInput">Input Buku:</label>
                    <select name="dropdown_buku" id="dropdown_buku">
                        <option value="book1">Buku 1</option>
                        <option value="book2">Buku 2</option>
                        <option value="book3">Buku 3</option>
                        <option value="book4">Buku 4</option>
                        <option value="book5">Buku 5</option>
                    </select>
                    <input type="submit" value="Submit">
                </form>

                
                <div id="flex-wrapper">
                    <div id="canvas">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </body>
</html>