<!DOCTYPE html>
    <html>
        <head>
            <title>Title of the document</title>
            <link rel="stylesheet" href="styling/graf.css">
        </head>

        <body>
            <div id="navBar">
                <%- include('partial/header.ejs'); -%> 
            </div>

            <div id="descWebsite">
                <div class="deskripsi">
                    <h1>
                        Undirected Graf
                    </h1>
                    <p>
                        Fitur untuk menampilkan graf tidak berarah, graf yang ditampilkan harus tidak mengandung node yang diulang
                    </p>
                </div>
                <form action="/proses-pencarian" method="post" id="search-nama">
                    <div class="sec-center"> 	
                        <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
                        <label class="for-dropdown" for="dropdown">Dropdown Menu <i class="uil uil-arrow-down"></i></label>
                        <div class="section-dropdown"> 
                            <a class = "buku1" href="#">Buku 1 <i class="uil uil-arrow-right"></i></a>
                            <a class = "buku1" href="#">Buku 2 <i class="uil uil-arrow-right"></i></a>
                            <a class = "buku1" href="#">Buku 3 <i class="uil uil-arrow-right"></i></a>
                            <a class = "buku1" href="#">Buku 4 <i class="uil uil-arrow-right"></i></a>
                            <a class = "buku1" href="#">Buku 5 <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </form> 

                <p>
                Grafik
                </p>
            </div>

        </body>
</html>