<!DOCTYPE html>
    <html>
        <head>
            <title>Title of the document</title>
            <link rel="stylesheet" href="styling/home.css">
        </head>

        <body>
            <div id="navBar">
                <%- include('partial/header.ejs'); -%> 
            </div>

            <div id="descWebsite">
                <div>
                    <h1>HOME</h1>
                </div>
                <div>
                    <h3>DESC</h3>
                </div>
            </div>
        </body>
</html>