<!DOCTYPE html>
    <html>
        <head>
            <title>Title of the document</title>
            <link rel="stylesheet" href="styling/home.css">
        </head>

        <body>
            <div id="navBar">
                <%- include('partial/header.ejs'); -%> 
            </div>

            <div id="content-wrapper">
                <div id="desc-website" class="grid-content">
                    <div id="title">
                        <h1 id="welcome">
                            Selamat Datang
                        </h1>
                    </div>
                    <div id="desc">
                        <p class="desc-desc">
                            Website ini berfungsi untuk menampilkan informasi interaksi karakter-karakter dalam film Game of Thrones, terdapat beberapa fitur yang tersedia dan dapat diakses oleh user yaitu Grafik Bar, Pencarian, dan Graf.                        </p>
                    </div>
                </div>

            </div>
        </body>
</html>