<!DOCTYPE html>
    <html>
        <head>
            <title>Title of the document</title>
            <link rel="stylesheet" href="styling/home.css">
        </head>

        <body>
            <div id="navBar">
                <%- include('partial/header.ejs'); -%> 
            </div>

            <div id="content-wrapper">
                <div id="desc-website" class="grid-content">
                    <div id="title">
                        <h1 id="titleDesc">
                            Selamat Datang
                        </h1>
                    </div>
                    <div id="desc">
                        <p id="titleDesc">
                            Website ini berfungsi untuk menampilkan informasi interaksi karakter-karakter dalam film Game of Thrones, terdapat beberapa fitur yang tersedia dan dapat diakses oleh user yaitu Grafik Bar, Pencarian, dan Graf.                        </p>
                    </div>
                    <!-- <div >
                        <img src = images/GOT-image2.jpg id="image1_home">
                    </div> -->
                </div>

                <div id="desc-fitur" class="grid-content">
                    <div class="fitur" id="fitur-grafikbar">
                        <img src="images/noun-house-frey-2548454.png">
                        <p>
                            Menampilkan grafik bar yang berisi 10 karakter yang paling banyak berinteraksi dengan karakter lain dalam buku tertentu.
                        </p>
                        <a href="/grafikbar">
                            <input type="button" class="buttonHome" name="grafikbar" value="Grafik bar">
                        </a>
                    </div>
                    <div class="fitur" id="fitur-cari">
                        <img src="images/noun-game-of-thrones-3118594.png">
                        <p>
                            Menampilkan karakter yang dihubungi oleh karakter lain setelah pemilihan buku dan karakter.
                        </p>
                        <a href="/cari">
                            <input type="button" class="buttonHome" name="cari" value="Pencarian">
                        </a>
                    </div>
                    <div class="fitur" id="fitur-graf">
                        <img src="images/noun-jagged-crown-2312654.png">
                        <p>
                            Menampilkan graf tidak berarah dengan simpul berisi nama karaker dan sisi berisi jumlah dari interaksi (dengan nilai max 10).
                        </p>
                        <a href="/graf">
                            <input type="button" class="buttonHome" name="graf" value="Graf">
                        </a>
                    </div>
                </div>
            </div>
        </body>
</html>