<!DOCTYPE html>
    <html>
        <head>
            <title>Title of the document</title>
            <link rel="stylesheet" href="styling/test.css">
            <script type="module" src = 'script/script.js' defer></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </head>

        <body>
            <div id="navBar">
                <%- include('partial/header.ejs'); -%> 
            </div>

            <form action="/proses-graf" method="post" id="formGraf">                
                <label for="input_buku">Input Buku:</label>
                <select name="dropdown_buku" id="dropdown_buku">
                    <option value="book1">Buku 1</option>
                    <option value="book2">Buku 2</option>
                    <option value="book3">Buku 3</option>
                    <option value="book4">Buku 4</option>
                    <option value="book5">Buku 5</option>
                </select>
                <input type="submit" value="Submit">
            </form>

            <div id="flex-wrapper">
                <div id="canvasGraph">
                    <canvas id="myGraph"></canvas>
                </div>
            </div>

        </body>
</html>